/* Variables */
:root {
  /* Couleurs */
  --primary-color: #B4AEFF;
  --accent-color: #8C83FF;
  --light-neutral: #EDEDF7;
  --dark-neutral: #1F1F25;
  /* Typographie */
  --font-family: "Bricolage Grotesque", sans-serif;
  --h1-size: 3.813rem;
  --h2-size: 3.063rem;
  --h3-size: 2.438rem;
  --h4-size: 1.938rem;
  --h5-size: 1.563rem;
  --p-size: 1rem;
  --line-height-titles: 1.2;
  --line-height-text: 1.6;
}

/* Styles généraux */
h1, h2, h3, h4, h5, p, a {
  font-family: var(--font-family);
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 5.61rem;
  line-height: var(--line-height-titles);
}

h2 {
  font-size: 3.063rem;
  line-height: var(--line-height-titles);
}

h3 {
  font-size: 2.438rem;
  line-height: var(--line-height-titles);
}

h4 {
  font-size: 1.938rem;
  line-height: var(--line-height-titles);
}

h5 {
  font-size: 1.563rem;
  line-height: var(--line-height-titles);
}

p {
  font-size: 1rem;
  line-height: var(--line-height-text);
}

a {
  font-size: 1rem;
  line-height: 40px;
  color: var(--dark-neutral);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light-neutral);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section:not(.hero, .hero-projets) {
  padding: 50px 100px;
}

/* Header */
template-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
  background-color: var(--dark-neutral);
  z-index: 1000;
}

#logo-animation {
  height: 80px;
  width: 80px;
  margin: 0;
}

nav {
  display: flex;
  column-gap: 20px;
}

nav a {
  background-color: var(--primary-color);
  padding: 0px 32px;
  align-self: center;
  border-radius: 24px;
  text-decoration: none;
}

/* Footer */
template-footer {
  background-color: var(--dark-neutral);
  padding: 20px 50px;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.footer-contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

template-footer button {
  background-color: var(--accent-color);
  padding: 10px 32px;
  border-radius: 24px;
  border: none;
  color: var(--light-neutral);
  cursor: pointer;
  font-size: var(--h5-size);
}

.reseaux-sociaux {
  display: flex;
  column-gap: 20px;
}