.hero-projets {
  min-height: 300px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#projets-animation {
  width: 80vw;
}

#projets-animation svg {
  border: 8px solid var(--accent-color);
  border-radius: 30px;
}

.main-projets {
  width: 80vw;
  margin: 0 auto;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  #projets-animation {
  width: 100%;
}

  #projets-animation svg {
    border: 5px solid var(--accent-color);
    border-radius: 20px;
  }
} 